/* Reset -------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base -------------*/
body {
  font-weight: 400;
  font-size: 0.9375rem;
  font-family: "Spartan", sans-serif;
}

main {
  width: 88%;
  max-width: 69.375rem;
  margin: 0 auto;
  background: url("../img/bg-pattern-top-mobile.svg") 50% 0 no-repeat;
}
@media (min-width: 62rem) {
  main {
    background: url("../img/bg-pattern-top-desktop.svg") 0 0 no-repeat;
    background-size: 50%;
  }
}

ul {
  list-style: none;
}

/* Components -------------*/
.reviews {
  display: grid;
  padding-top: 5.125rem;
  gap: 2.5rem;
  margin-bottom: 3.375rem;
}
@media (min-width: 62rem) {
  .reviews {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6.875rem;
    margin-bottom: 4.625rem;
  }
}
@media (min-width: 75rem) {
  .reviews {
    padding-top: 8.25rem;
  }
}
.reviews__heading {
  font-size: 2rem;
  color: #502050;
  max-width: 11ch;
  text-align: center;
  line-height: 1;
  margin: 0 auto 1.5rem;
}
@media (min-width: 48rem) {
  .reviews__heading {
    font-size: 2.1875rem;
  }
}
@media (min-width: 62rem) {
  .reviews__heading {
    font-size: 2.375rem;
    text-align: left;
    margin: 0 0 1rem;
  }
}
@media (min-width: 75rem) {
  .reviews__heading {
    font-size: 2.875rem;
    margin-bottom: 0.75rem;
  }
}
.reviews__leading {
  text-align: center;
  font-size: 16px;
  color: #937b92;
  font-weight: 500;
  line-height: 1.6;
  max-width: 38ch;
  margin: 0 auto;
}
@media (min-width: 62rem) {
  .reviews__leading {
    margin: 0;
    text-align: left;
  }
}
.reviews__box {
  align-self: center;
}
@media (min-width: 62rem) and (max-width: 75rem) {
  .reviews__box {
    justify-self: end;
  }
}
.reviews__rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .reviews__rating {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 62rem) {
  .reviews__rating {
    flex-direction: column;
  }
}
.reviews__rating-box {
  background: url("../img/icon-star.svg") 50% 1.125rem no-repeat, url("../img/icon-star.svg") calc(50% - 1.6875rem) 1.125rem no-repeat, url("../img/icon-star.svg") calc(50% - 3.375rem) 1.125rem no-repeat, url("../img/icon-star.svg") calc(50% + 1.6875rem) 1.125rem no-repeat, url("../img/icon-star.svg") calc(50% + 3.375rem) 1.125rem no-repeat, #f7f2f7;
  font-weight: 600;
  color: #502050;
  border-radius: 0.625rem;
  padding: 3.125rem 1.25rem 1.25rem;
  text-align: center;
}
@media (min-width: 62rem) {
  .reviews__rating-box {
    text-align: left;
    padding: 1.25rem 1.25rem 1.25rem 10.3125rem;
    font-size: 0.875rem;
    max-width: 27.8125rem;
    background: url("../img/icon-star.svg") 1.25rem 1.125rem no-repeat, url("../img/icon-star.svg") 2.9375rem 1.125rem no-repeat, url("../img/icon-star.svg") 4.625rem 1.125rem no-repeat, url("../img/icon-star.svg") 6.3125rem 1.125rem no-repeat, url("../img/icon-star.svg") 8rem 1.125rem no-repeat, #f7f2f7;
  }
}
@media (min-width: 75rem) {
  .reviews__rating-box {
    padding: 1.25rem 2rem 1.25rem 11.125rem;
    background: url("../img/icon-star.svg") 2.0625rem 1.125rem no-repeat, url("../img/icon-star.svg") 3.75rem 1.125rem no-repeat, url("../img/icon-star.svg") 5.4375rem 1.125rem no-repeat, url("../img/icon-star.svg") 7.125rem 1.125rem no-repeat, url("../img/icon-star.svg") 8.8125rem 1.125rem no-repeat, #f7f2f7;
  }
}
@media (min-width: 75rem) {
  .reviews__rating-box:nth-child(2) {
    align-self: center;
  }
}
@media (min-width: 75rem) {
  .reviews__rating-box:nth-child(3) {
    align-self: flex-end;
  }
}

.testimonials {
  display: grid;
  margin-bottom: 1.875rem;
  gap: 1rem;
  font-size: 0.875rem;
  justify-content: center;
  grid-template-areas: "box1" "box2" "box3";
}
@media (min-width: 48rem) {
  .testimonials {
    grid-template-areas: "box1 box1 box2 box2" "... box3 box3 ...";
  }
}
@media (min-width: 62rem) {
  .testimonials {
    grid-template-areas: "box1 box2 box3";
  }
}
@media (min-width: 75rem) {
  .testimonials {
    gap: 1.875rem;
    min-height: 18.125rem;
  }
}
.testimonials__box {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-template-rows: 2.5rem 1fr;
  grid-template-areas: "clientImg clientInfo" "clientQuote clientQuote";
  gap: 24px;
  color: #f7f2f7;
  padding: 2.5rem 2rem;
  background: #502050;
  border-radius: 0.625rem;
}
@media (min-width: 48rem) {
  .testimonials__box {
    max-width: 21.875rem;
  }
}
@media (min-width: 75rem) {
  .testimonials__box {
    align-self: center;
  }
}
.testimonials__box:nth-child(1) {
  grid-area: box1;
}
@media (min-width: 75rem) {
  .testimonials__box:nth-child(1) {
    align-self: start;
  }
}
.testimonials__box:nth-child(2) {
  grid-area: box2;
}
.testimonials__box:nth-child(3) {
  grid-area: box3;
}
@media (min-width: 75rem) {
  .testimonials__box:nth-child(3) {
    align-self: end;
  }
}
.testimonials__img {
  grid-area: clientImg;
  width: 2.5rem;
  border-radius: 50%;
}
.testimonials__client {
  grid-area: clientInfo;
  font-weight: 700;
  color: white;
}
.testimonials__client-role {
  font-weight: initial;
  margin-top: 0.3125rem;
  color: #ee68a4;
}
.testimonials__quote {
  grid-area: clientQuote;
}
.testimonials__quote-text {
  line-height: 1.6;
}

/* Footer ---------------*/
.attribution {
  text-align: center;
  color: #502050;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 500;
}
.attribution a {
  transition: color 0.2s;
  padding-bottom: 2px;
  text-decoration: none;
  font-weight: 700;
}
.attribution a:link, .attribution a:visited {
  color: #ee68a4;
  box-shadow: 0 2px 0 0 #ee68a4;
}
.attribution a:active, .attribution a:hover {
  color: #e7237b;
  box-shadow: none;
}
.attribution span {
  color: #f00000;
  font-size: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
